.btn{
    outline: none;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.auth, .submit, .new-conversation, .cancel{
    background: hsl(220,86%,58%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25rem;
}

.auth, .submit{
    box-shadow: 0px 5px 2px hsl(220,86%,40%);
    transition: all .3s ease;
}

.auth:hover, .new-conversation:hover{
    background: hsl(220,79%,61%);
}

.auth:active, .submit:active, .cancel:active{
    transform: translateY(6px);
    box-shadow: none;
}

.cancel{
    background: hsl(2,57%,58%);
    transition: all .3s ease;
    box-shadow: 0px 5px 2px hsl(2,64%,40%);
}

.cancel:hover{
    background: hsl(2,64%,58%) ;
}

.new-conversation{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.75rem;
}

.submit, .cancel{
    font-size: 1rem;
}

.option-btn{
    color: black;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: white;
}

.option-btn:hover{
    background: lightgrey;
}

