.wrapper{
    flex-grow: 1;
    height: 100vh;
    position: relative;
    background: white;
}

.form{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: white;
    padding: 5px 10px;
}

.form input{
    background: lightgrey;
    flex-grow: 1;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-radius: 15px;
    text-indent: 10px;
}

.form input::placeholder{
    color: darkgray;
    margin-left: 10px;
}
.chat-bubbles-wrapper{
    padding: 10px 10px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.fixed-height-container{
    height: calc(100% - 40px - 70px);
    overflow-y: scroll;
}

.fixed-height-container::-webkit-scrollbar{
    width: 0px;
}

