.settings-container{
    background: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    transform: translateX(-150%);
    transition: all .3s ease;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100dvh - 70px);
}

.visible{
    transform: translateX(0%);
}

.hidden{
    transform: translateX(-150%);
}

.settings-header-wrapper{
    display: flex;
    align-items: center;
}

.settings-header{
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}

.settings-wrapper-return-btn{
    font-weight: 1000;
    font-size: 1.5rem;
}